.buttonStyle {
    display: flex;
    padding: 10px;
    margin: 1rem;
    font-size: small;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.buttonStyle:hover {
    box-shadow: 0 12px 16px 0 rgba(112, 110, 141, 0.24), 0 17px 50px 0 rgba(103, 93, 146, 0.19);
}

.icon-Google {
    height: 15px;
    margin-right: 8px;
}