.wall-Page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header{
    margin: 3rem;
}

.container{
    width: 85vw;
    min-height: 100vh;
}

.container-notes{
    display: grid;
    list-style: none;
    margin: 1rem;
    gap: 2rem;
    grid-auto-rows: 170px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 170px));
    justify-content: center;
}

.print-note{
    background-color: bisque;
    border-radius: 10px;
}

.note-Title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    font-size: large;
    padding: 0.5rem 1rem;
}

.note-footer{
    display: flex;    
    justify-content: flex-end;
}

.editIcon, .deleteIcon{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.note-Content{
    padding: 1rem;
    font-size: small;
    height: 11rem;
}


@media (min-width: 768px){
    .editIcon, .deleteIcon{
        width: 2.5rem;
    }
    .container-notes{
        grid-auto-rows: 185px;
        grid-template-columns: repeat(auto-fit, minmax(165px, 185px));  
        margin: auto;
        gap: 3rem 4rem;
    }
}

@media (min-width: 1300px){
    .container-notes{
        grid-auto-rows: 200px;
        grid-template-columns: repeat(auto-fit, minmax(180px, 200px));  
        gap: 3rem 6rem;
    }
    .note-Content{
        height: 13.5rem;
    }
}